// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants

@import '~@angular/material/theming';

$default-theme-primary: mat-palette($mat-blue-grey, 200, 100, 900);
$default-theme-accent: mat-palette($mat-yellow, 800, 300, 200);
$default-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$default-theme: mat-light-theme(
    $default-theme-primary,
    $default-theme-accent,
    $default-theme-warn
);

@include angular-material-theme($default-theme);


footer {
  background-color: mat-color($default-theme-primary);
}